albumentations
click
dvc
dvc-data
dvc-gdrive
dvc-gs
dvc-http
dvc-objects
dvc-render
dvc-studio-client
dvc-task
fastapi
hydra-core
matplotlib
numpy
pillow
pytest
pytorch_lightning
scikit-learn
timm
torch
torchvision
uvicorn
wandb